<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 7</b></center>    
<pre>

# Set & Dictionary

### 01) WAP to iterate over a set.

In [1]:
s={1,2,3,4,5,6}
for i in s:
    print(i)

1
2
3
4
5
6

### 02) WAP to convert set into list, string and tuple.

In [10]:
l1=list(s)
str2=str(s)
tup1=tuple(s)
l1
print(str2)
tup1

TypeError: 'str' object is not callable

### 03) WAP to find Maximum and Minimum from a set.

In [2]:
print(max(s))
print(min(s))

6
1

### 04) WAP to perform union of two sets.

In [3]:
s1={1,2,3,4,5,6}
s2={7,8,9,10,11,12}
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

### 05) WAP to check if two lists have at-least one element common.

In [4]:
l1=[1,2,2,3,4,5]
l2=[4,5,6,7,8]
s1=set(l1)
s2=set(l2)
ans=s1 & s2
if(ans==set()):
    print("there is no common element")
else:
    print(f"common elements :{ans}")

common elements :{4, 5}

### 06) WAP to remove duplicates from list.

In [6]:
dup=set(l1)
print(dup)

{1, 2, 3, 4, 5}

### 07) WAP to find unique words in the given string.

In [8]:
str="Hello my name is Sanjana. My house is blue"
l1=str.split(" ")
s1=set(l1)
s1

{'Hello', 'My', 'Sanjana.', 'blue', 'house', 'is', 'my', 'name'}

### 08) WAP to remove common elements of set A & B from set A.

In [19]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.difference_update(s2)
s1

{1, 2, 3}

### 09) WAP to check whether two given strings are anagram or not using set.

In [18]:
str1="hey"
str2="yeh"
s1=set(str1)
s2=set(str2)
if(s1==s2):
    print("Anagram")
else:
    print("Not anagram")

Anagram

### 10) WAP to find common elements in three lists using set.

In [22]:
s1={1,2,3,4}
s2={2,3,4}
s3={4,5,6}
ans=s1&s2&s3
print(ans)

{4}

### 11) WAP to count number of vowels in given string using set.

In [25]:
str1="Hello"
s1=set(str1)
count=0
for i in s1:
    if(i=='a'or i=='e'or i=='o'or i=='u'or i=='i'):
        count+=1
count

2

### 12) WAP to check if a given string is binary string or not.

In [33]:
str1="0101010110"
s1=set(str1)
for i in s1:
    if(i!='0' and i!='1'):
        print("String is not binary")
        break
print("String is binary")

String is binary

### 13) WAP to sort dictionary by key or value.

### 14) WAP to find the sum of all items (values) in a dictionary given by user. (Assume: values are numeric)

### 15) WAP to handle missing keys in dictionaries.
#### Example : Given, dict1 = {'a': 5, 'c': 8, 'e': 2} 
#### if you look for key = 'd', the message given should be 'Key Not Found', otherwise print the value of 'd' in dict1.